/* sets up box sizing by changing how padding is calculated (things are within a width, rather than adding to a width)*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
:root {
    /* font family primary */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    /* font weight */
    --ff-reg: 300;
    --ff-bold: 900;

    /* colors */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h1: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles*/

body {
    /* note that this uses the color defined in :root */

    /* light mode */
    background: var(--clr-light);
    color: var(--clr-dark);

    /* dark mode
    background: var(--clr-dark);
    color: var(--clr-light); */

    margin: 0;

    /* sets the fonts */
    font-family: var(--ff-primary);
    font-size: var(--ff-body);
    line-height: 1.6;

}

/* padding on the edges of the screen so things don't touch the sides of the screen */
section {
    padding: 5em 2em;
}

/* formatting for images */
img {

    /* displays standalone images in block form; fixes issues that may arise */
    display: block;
    /* makes it so that images don't become bigger than the parent element */
    max-width: 100%;
}

/* sets weight for strings with the strong tag */
strong {
    font-weight: var(--ff-bold);
}

/* when focuses (like links are clicked on), box them with the accent color to grab attention */
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* styling for buttons */
.btn {
    display: inline-block;
    padding: .5em 2em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;

    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--ff-bold);

    transition: transform 200ms ease-in-out;
}

/* when the button is hovered over, make it larger */
.btn:hover {
    transform: scale(1.2);
}

/* typography */

h1,
h2,
h3 {
    /* subject to whatever looks good */
    line-height: 1;
    margin: 0;
}

/* sets font sizes for headers */
h1 { 
    font-size: var(--fs-h1)
}
h2 {
    font-size: var(--fs-h2)
}
h3 {
    font-size: var(--fs-h3)
}

/* section titles */

.section__title {
    margin-left: 0.25em;
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--ff-reg);
}

/* strings encapsulated in the strong tag will always be on their on block */
.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}


/* turns off the navigation while we figure things out */
nav {
    display: none;
}

/* introduction section */

.intro {
    position: relative;
    margin: auto;
}

/* adds shadows to the introduction image */
.intro__img {
    box-shadow: var(--bs);
}

/* displays the introduction accent on it's own line */
.section__subtitle--intro {
    display: inline-block;
}

/* changes media for the introduction elements at the top when the webpage viewer is larger */
@media (min-width: 600px) {

    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title" 
            "img subtitle";
        grid-template-columns: min-content max-content;
    } 

    /* formats the picture so that it's not too big and so that it's in the right spot */
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    /* arranges the accent line */
    .section__subtitle--intro {
        align-self: start;

        grid-column: -1 / 1;

        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.25em;
        width: calc(100% + 1.5em);
    }
}

/* Classwork Section */

/* center the classwork */
.section__title--classwork {
    color: var(--clr-accent);
    position: relative;
}

/* line underneath the classwork */
.section__title--classwork::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.4;
}

/* set the background the classwork section */
.classwork {
    background-color: var(--clr-dark);
    background-size: cover;

    /* optional URL */
    /* background-image: url(...); */
    /* background-blend-mode: multiply; */

    color: var(--clr-light);
    text-align: center;
}

/* sets margin for the course sections to define sections */
.current-courses {
    margin-bottom: 3em;
}

/* give each course a dynamic amount of room */
.course {
    max-width: 500px;
    margin: 0 auto;
}

/* when the page is big enough, then arrange courses side by side with flex */
@media (min-width: 800px) {

    /* aligns the courses */
    .current-courses {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    /* if there are sibling courses next to each other, then give them a margin */
    .course + .course {
        margin-left: 1em;
    }
}

/* about me section */

/* general preferences for about me elements */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

/* when the screen size is large enough, then split the paragraphs, and set a max size for the image */
@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
    }
}